.no-tasks-here {
    text-align: center;
}

.task {
}

.task__meta {
    text-align: left;
    padding-bottom: 19px;
}

.task__results {
    float: right;
    font-weight:bold;
}

.btn-create-new-task {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.task__success {
    color: green;
}

.task__failure {
    color: red;
}


/*.navbar-default {*/
/*background-color: green;*/
/*}*/

/*.btn {*/
/*background-color: green !important;*/
/*}*/
