<div class="row">
    <div class="col-sm-12">
        <div class="well">
            <div class="task">
                <div class="task">
                    <pre>Status:<span class="task__results">{{ task.status }}</span></pre>
                    <pre>Arguments:<span class="task__results">{{ task.arguments }}</span></pre>
                    <pre>Results:<span class="task__results">{{ task.results }}</span></pre>
                    <pre>Creation date:<span class="task__results">{{ task.created_at }}</span></pre>
                    <pre>Update date:<span class="task__results">{{ task.updated_at }}</span></pre>
                </div>
            </div>
        </div>
    </div>
</div>
